<h1>Cartpage</h1>
<a href="/products"><button type="button">Go Back</button></a>
{{#each productsArray}}
    <ul>
        <p><b>*--------PRODUCT ID {{this._id}}--------*</b></p>
        <li><b>Quantity {{this.quantity}}</b></li>
        <li>Code: {{this.code}}</li>
        <li>Title: {{this.title}}</li>
        <li>Categpry: {{this.category}}</li>
        <li>Description:{{this.description}}</li>
        <li>Price: {{this.price}}</li>
        <li>Stock: {{this.stock}}</li>
        <li>Thumbnail: {{this.thumbnail}}</li>
    </ul>
{{/each}}