<div>
    <h1>Hello world! Static product list:</h1>
    <br>
    {{#each products}}
    <ul>
        <p><b>*--------PRODUCT ID {{this._id}}--------*</b></p>
        <li>Code: {{this.code}}</li>
        <li>Title: {{this.title}}</li>
        <li>Categpry: {{this.category}}</li>
        <li>Description:{{this.description}}</li>
        <li>Price: {{this.price}}</li>
        <li>Stock: {{this.stock}}</li>
        <li>Thumbnail: {{this.thumbnail}}</li>
    </ul>
    <br>
    {{/each}}
</div>
<div id="buttonsDiv">
    <button id="prevPage-btn" disabled>Previus Page</button>
    <button id="nextPage-btn" disabled>Next Page</button>
</div>
<script src="./js/home.js"></script>