<div class="center">
    <h1>Hello world! Static product list:</h1>
    <h2><b>CART ID: 641bb9fa11f628c9e03b3cfd</b></h2>
    <br>
    {{#each payload}}
    <ul>
        <p><b>*--------PRODUCT ID {{this._id}}--------*</b></p>
        <li>Code: {{this.code}}</li>
        <li>Title: {{this.title}}</li>
        <li>Categpry: {{this.category}}</li>
        <li>Description:{{this.description}}</li>
        <li>Price: {{this.price}}</li>
        <li>Stock: {{this.stock}}</li>
        <li>Thumbnail: {{this.thumbnail}}</li>
        <li class="center">
            <form action="/api/carts/641bb9fa11f628c9e03b3cfd/product/{{this._id}}" method="post">
                <button type="submit">ADD TO CART</button>
            </form>
        </li>
    </ul>
    <br><br>
    {{/each}}
</div>
<div id="buttonsDiv">
    {{#if hasPrevPage}}
    <a href="/products/{{prevLink}}"><button type="button">Previus Page</button></a>
    {{else}}
    <button type="button" disabled="true">Previus Page</button>
    {{/if}}

    {{#if hasNextPage}}
    <a href="/products/{{nextLink}}"><button type="button">Next Page</button></a>
    {{else}}
    <button type="button" disabled="true">Next Page</button>
    {{/if}}
</div>
<script src="/js/products.js"></script>