<div class="center">
    <h1>Hello world! Static product list:</h1>
    <a href="/carts/{{user.cart}}"><button type="button">CART ID: {{user.cart}}</button></a>
    <br>
    <ul>
        <p><b>Your Profile Data</b></p>
        <li>Name: {{user.name}}</li>
        <li>Email: {{user.email}}</li>
        <li>Age: {{user.age}}</li> 
        <li>Role: {{user.role}}</li> 
        <a href="/api/sessions/logout"><button type="button">LOGOUT</button></a>
    </ul>
    {{#each payload}}
    <ul>
        <p><b>*--------PRODUCT ID {{this._id}}--------*</b></p>
        <li>Code: {{this.code}}</li>
        <li>Title: {{this.title}}</li>
        <li>Category: {{this.category}}</li>
        <li>Description: {{this.description}}</li>
        <li>Price: {{this.price}}</li>
        <li>Stock: {{this.stock}}</li>
        <li class="center"><img src={{this.thumbnail.[0]}} alt={{this.thumbnail}}></li>
        <li class="center">
            <form action="/carts/{{../user.cart}}/product/{{this._id}}" method="post">
                <button type="submit">ADD TO CART</button>
            </form>
        </li>
    </ul>
    <br><br>
    {{/each}}
</div>
<div id="buttonsDiv">
    {{#if hasPrevPage}}
    <a href="/products/{{prevLink}}"><button type="button">Previus Page</button></a>
    {{else}}
    <button type="button" disabled="true">Previus Page</button>
    {{/if}}

    {{#if hasNextPage}}
    <a href="/products/{{nextLink}}"><button type="button">Next Page</button></a>
    {{else}}
    <button type="button" disabled="true">Next Page</button>
    {{/if}}
</div>