<div id="prodList">
    <h1>Hello world! Dynamic product list:</h1>
    <br>
    {{#each products}}
    <ul>
        <p><b>*--------PRODUCT ID {{this._id}}--------*</b></p>
        <li>Code: {{this.code}}</li>
        <li>Title: {{this.title}}</li>
        <li>Category: {{this.category}}</li>
        <li>Description: {{this.description}}</li>
        <li>Price: {{this.price}}</li>
        <li>Stock: {{this.stock}}</li>
        <li>Thumbnail: {{this.thumbnail}}</li>
    </ul>
    <br>
    {{/each}}
</div>
<div id="buttonsDiv">
    {{#if hasPrevPage}}
    <a href="/realtimeproducts?page={{prevPage}}&limit={{limit}}"><button type="button">Previus Page</button></a>
    {{else}}
    <button type="button" disabled="true">Previus Page</button>
    {{/if}}

    {{#if hasNextPage}}
    <a href="/realtimeproducts?page={{nextPage}}&limit={{limit}}"><button type="button">Next Page</button></a>
    {{else}}
    <button type="button" disabled="true">Next Page</button>
    {{/if}}
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>