<div id="prodList">
    <p>Hello world! Dynamic product list:</p>
    {{#each products}}
    <ul>
        <p>*--------PRODUCT ID {{this.id}}--------*</p>
        <li>Code: {{this.code}}</li>
        <li>Title: {{this.title}}</li>
        <li>Category: {{this.category}}</li>
        <li>Description: {{this.description}}</li>
        <li>Price: {{this.price}}</li>
        <li>Stock: {{this.stock}}</li>
        <li>Thumbnail: {{this.thumbnail}}</li>
    </ul>
    <br>
    {{/each}}
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>